<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Application Météo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div class="autocomplete">
        <input type="text" v-model="search" @input="fetchCitySuggestions" placeholder="Recherche de ville">
        <ul v-if="suggestions.length">
            <li v-for="suggestion in suggestions" :key="suggestion.id" @click="selectCity(suggestion)">
                {{ suggestion.name }}
            </li>
        </ul>
        <input type="checkbox" id="countrySearchEnabled" v-model="countrySearchEnabled" @change="resetCountrySearch">
        <label for="countrySearchEnabled">Pays != France ?</label>
        <input type="text" v-model="countrySearch" @input="fetchCountrySuggestions" v-if="countrySearchEnabled" placeholder="Recherche de pays">
        <ul v-if="countrySuggestions.length && countrySearchEnabled">
            <li v-for="suggestion in countrySuggestions" :key="suggestion.id" @click="selectCountry(suggestion)">
                {{ suggestion.name }}
            </li>
        </ul>
        <button @click="fetchWeatherData(search)" :disabled="!search">Rechercher</button>
    </div>

    <div v-if="weatherData">
        <h2>Météo actuelle pour {{ weatherData.location.name }}</h2>
        <p>Température: {{ weatherData.current.temp_c }}°C</p>
        <p>Condition: {{ weatherData.current.condition.text }}</p>
        <img :src="weatherData.current.condition.icon" :alt="weatherData.current.condition.text">

        <h2>Prévisions météo pour les 3 prochains jours</h2>
        <div v-for="day in weatherData.forecast.forecastday" :key="day.date">
        <h3>{{ day.date }}</h3>
        <p>Température maximale: {{ day.day.maxtemp_c }}°C</p>
        <p>Température minimale: {{ day.day.mintemp_c }}°C</p>
        <p>Condition: {{ day.day.condition.text }}</p>
        <img :src="day.day.condition.icon" :alt="day.day.condition.text">
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            search: '',
            suggestions: [],
            weatherData: null,
            countrySearch: '',
            countrySuggestions: [],
            selectedCountry: 'FR',
            timeout: null,
            countrySearchEnabled: false
        },
        methods: {
            fetchCitySuggestions() {
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    if (!this.search || this.search.length < 2) {
                        this.suggestions = [];
                        return;
                    }
                    axios.get(`http://geodb-free-service.wirefreethought.com/v1/geo/cities?limit=10&offset=0&namePrefix=${this.search}&languageCode=fr&countryIds=${this.selectedCountry}`)
                        .then(response => {
                            this.suggestions = response.data.data.map(city => {
                                return { name: city.name, id: city.id };
                            });
                        })
                        .catch(error => {
                            console.error('Erreur de l\'API GeoDB Cities:', error);
                        });
                }, 1000);
            },
            fetchCountrySuggestions() {
                if (!this.countrySearchEnabled) return;
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    if (!this.countrySearch || this.countrySearch.length < 2) {
                        this.countrySuggestions = [];
                        return;
                    }
                    axios.get(`http://geodb-free-service.wirefreethought.com/v1/geo/countries?limit=5&namePrefix=${this.countrySearch}`)
                        .then(response => {
                            this.countrySuggestions = response.data.data.map(country => {
                                return { name: country.name, code: country.code };
                            });
                        })
                        .catch(error => {
                            console.error('Erreur de l\'API GeoDB Countries:', error);
                        });
                }, 1000);
            },
            selectCity(suggestion) {
                this.search = suggestion.name;
                this.suggestions = [];
                this.fetchWeatherData(suggestion.name);
            },
            fetchWeatherData(city) {
                const api_key = '0cadf93c867b4bc39b9130433232112';
                axios.get(`http://api.weatherapi.com/v1/forecast.json?key=${api_key}&q=${city}&days=3&lang=fr`)
                    .then(response => {
                        this.weatherData = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            selectCountry(suggestion) {
                this.selectedCountry = suggestion.code;
                this.countrySuggestions = [];
            },
            resetCountrySearch() {
                this.countrySearch = '';
                this.countrySuggestions = [];
                this.selectedCountry = 'FR';
            }
        },
        watch: {
            search() {
                this.fetchCitySuggestions();
            },
            countrySearch() {
                this.fetchCountrySuggestions();
            }
        }
    });
</script>
</body>
</html>
